.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# .tfvars may contain secrets
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

terraform-provider-kargo
coverage.out
*.test
vendor/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
dist/
.planning/
CLAUDE.md
terraform-provider-kargo-supp/
