---
page_title: "kargo_stage Data Source - Kargo"
subcategory: ""
description: |-
  Retrieves information about a Kargo Stage.
---

# kargo_stage (Data Source)

Retrieves information about a Kargo Stage.

## Example Usage

{{ tffile "examples/data-sources/kargo_stage/data-source.tf" }}

## Status and Freight State

The `freight` attribute contains the current Freight collection. Entries are sorted by origin.

## Example Output

```terraform
output "stage_health" {
  value = data.kargo_stage.example.status.health.status
}

output "stage_current_freight" {
  value = data.kargo_stage.example.freight
}
```

{{ .SchemaMarkdown | trimspace }}
